*{
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main, section{
    display: flex;
    flex-wrap: wrap;
}
div{
    width: 33%;
}
figure {
    height: 200px;
    width: 200px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }