*{
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid green;
    width: 70%;
}
div{
    width: 300px;
}
figure {
    height: 300px;
    width: 300px;
}

aside{
    width: 25%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }